@model  HomeVM
@{
  ViewData["Title"] = "Home Page";
  var basketCount = Model?.Basket?.BasketItems != null ? Model.Basket.BasketItems.Count : 0;
  ViewData["page"] = 1;
}



<a id="basketToggle" href="#" title="Basket" class="top-basket-toggle fa fa-shopping-basket" onclick="getBasket()">
   @basketCount
</a>

<div id="basket" class="top-basket-container">

</div>
<br />

<partial name="_Filter" />


<div id="products">
<partial name="_ProductCards" model="Model?.Products" view-data="ViewData" />
</div>


<!----
<div class="container">
  <div class="row card-header">
  <div class="col-md">Name</div>
  <div class="col-md">Price</div>
  <div class="col-lg">Image</div>
  </div>
 
</div>
-->
