@model  HomeVM
@{
  ViewData["Title"] = "Home Page";
  var basketCount = Model?.Basket?.BasketItems != null ? Model.Basket.BasketItems.Count : 0;
  ViewData["page"] = 1;
  var isAuthenticated= User.Identity!.IsAuthenticated;
  var success = (bool?) ViewData["success"]; //mc status alert msg passed from controller action
  
}


@if (isAuthenticated)
{
  <a id="basketBtn" href="#" title="Basket" class="top-basket-toggle fa fa-shopping-basket" onclick="estore_site.getBasket()"> @basketCount </a>
}
else{
  <a id="basketBtn" title="Basket" class="top-basket-toggle fa fa-shopping-basket" href="identity/account/login"> @basketCount </a>
}
  
  


<div id="basket" class="top-basket-container">

</div>
<br />

<partial name="_Filter" />


<div id="divProducts">
  
    <partial name="_ProductCards" model="Model?.Products" view-data="ViewData" />
  
</div>

<partial name="_Contacts" />


<!-- MC page will load with below js -->
@section Scripts {
 
<script>
    

    @if (success==true) 
  { 
    <text> 
     estore_site.showToast("SUCCESS", false);
    </text> 
  }
  else if(success==false) { 
    <text> 
     estore_site.showToast("FAIL", true); 
    </text>
  }
    /*
  window.addEventListener('DOMContentLoaded', (event) => {
    console.log("index from event");
    estore_site.showToast("test index");
  });
  */
  
  function showToast() { 
    estore_site.showToast("test index");
  }
</script>
}
<!----
<div class="container">
  <div class="row card-header">
  <div class="col-md">Name</div>
  <div class="col-md">Price</div>
  <div class="col-lg">Image</div>
  </div>
 
</div>
-->
