html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

input:invalid {
  box-shadow: 0 0 5px 1px red;
}

input:focus:invalid {
  box-shadow: none;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.body-container{
  padding-top:6%;
}

show {
}



.top-basket-toggle {
  float: right;
  font-size: xx-large;
  text-decoration:none;
  color:green;
}

.top-basket-container{
  display:flex;
  justify-content:center;
}

.basket {
  width: 75%;
  background-color:aliceblue;
  white-space:nowrap;
}

.basket-close{
  float:right;
}

.filter-container {
  display: flex;
  margin-top: 5%;
  margin-bottom:3%;
  gap: 3%;
  align-items: center;
  justify-content: center;
}

.find-form{
  width:45%;
  margin-left:auto;
}

.find{
  width:75%;
}

.btn-filterget{
  margin-left:auto;
}

.product-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-card-item {
  flex: 0 0 auto;
  width: 23%;
  margin: 1%;
  
}




.myrow-cols > *{
  width:25%;
}

.products-nav {
  display: flex;
  justify-content: center;
  gap: 2%;
}

.orders:hover{
  cursor:pointer;
  opacity:50%;

}

.footer{
  position:absolute;
  bottom:2px;
}

@media (max-width:450px){

  .product-card-item {
    flex: 0 0 auto;
    width: 50%;
  }

}

