

<div class="bstoast-container fixed-top d-flex text-center justify-content-center align-items-center">

  <div id="bsToastFail" class="toast alert-danger " role="alert" data-bs-delay="2000" data-bs-autohide="true">
    <div class="toast-body">
      FAILED
    </div>
    
  </div>

  <div id="bsToastSuccess" class="toast alert-success" role="alert" data-bs-delay="2000" data-bs-autohide="true">
    <div class="toast-body">
      SUCCESS
    </div>
    
  </div>


</div>

