<div id="modalBasket" class="modal fade" tabindex="-1">
  <div class="modal-dialog basket-modal">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Basket</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div id="basketModalToast"></div>
        <div id="basket" class="top-basket-container">

        </div>
      </div>
    </div>
  </div>
</div>
