@model IEnumerable<EStore.Web.Models.ProductVM>
@{
  var pageSize= Estore.Core.Constants.pageSize;
}

<div class="container">

 <div class="row row-cols-2 row-cols-md-4 ">
  @foreach(var item in Model)
  {
    
    <partial name="_ProductCardItem" model="item" />
  }
  </div>
  
  <div class="products-nav ">
    
    <a id="prevA" hidden href="#" onclick="goPrevPage()">Prev</a>
   
    <a id="pageN" class="">1</a>
   
    <a id="nextA" @(Model.Count()<pageSize?"hidden":"") onclick="goNextPage()" href="#">Next</a>
  </div> 
  
</div>

 <!---- 
   conditional tag attribute; @(Model.Count() < pageSize ? "hidden" : "")
 >