@model IEnumerable<EStore.Web.Models.ProductVM>
@{
 
}

<div class="container">

 <div class="product-card-container">
  @foreach(var item in Model)
  {
    
    <partial name="_ProductCardItem" model="item" />
  }
  </div>
  
  <div class="products-nav ">
    
    <a href="#" onclick="goPrevPage()">Prev</a>
   
    <a id="pageN" class="">1</a>
   
    <a onclick="goNextPage()" href="#">Next</a>
  </div> 
  
</div>
